<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }}</title>
</head>
<body>
  <header>
    <h1>{{ site.title | default: site.github.repository_name }}</h1>
    <nav>
      <a href="{{ "/" | absolute_url }}">Home</a>
      {% for page in site.header_pages %}
        {% assign item = site.pages | where: "path", page | first %}
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
</body>
</html>